// Brand Colors
$primary: #0F2854;
$secondary: #1C4D8D;
$success: #005461;
$warning: #F4B342;
$danger: #DC0000;
$dark: #050E3C;

// Layout
$border-radius: 1rem;
$border-radius-sm: .75rem;
$border-radius-lg: 1.5rem;

// Shadow
$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;


$font-family-sans-serif: "Open Sans",
    sans-serif;